@import "../variables.scss";
main {
  position: relative;
  form {
    margin-top: 60px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 350px;
    background-color: rgb(255, 255, 255);
    padding: 20px 30px;
    border-radius: 5px;
    h1 {
      text-align: center;
      margin: 10px;
      margin-bottom: 20px;
      color: $primary;
    }
    input {
      border: none;
      outline: none;
    }
    .input {
      display: flex;
      flex-direction: column;
      position: relative;
      margin: 10px 0;
      border: 1px solid rgb(168, 168, 168);
      padding: 5px;
      border-radius: 5px;

      input {
        width: 100%;
        background-color: transparent;
        padding-top: 10px;
      }
      .hasValue {
        transform: translateY(-100%);
        transition: 0.5s;
        font-size: 12px;
      }
      label {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: rgb(168, 168, 168);
        left: 5px;
      }
    }
    .error {
      color: $tomato;
      border-color: $tomato;
    }
    p.error {
      margin-top: -10px;
    }
    input[type="submit"] {
      padding: 10px;
      border-radius: 5px;
      width: 100%;
      margin-top: 10px;
      background-color: $lightSeaGreen;
      color: white;
    }
    .authOption {
      margin-top: 30px;
      border-top: 1px solid gray;
      padding-top: 30px;
      padding-bottom: 10px;

      p {
        text-align: center;
      }
    }
  }
}
