main {
  position: relative;
  form {
    margin-top: 60px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 400px;
    .input {
      display: flex;
      flex-direction: column;
      input {
        width: 100%;
      }
    }
  }
}
