@import "../variables.scss";

@mixin calendar {
  .react-calendar {
    width: 90%;
    border: 1px solid rgba($color: $lightSeaGreen, $alpha: 0.3);
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    button {
      border: none;
      outline: none;
      background-color: transparent;
      color: $lightSeaGreen;
      padding: 5px;
    }
    .react-calendar__navigation {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .react-calendar__month-view__weekdays {
      div {
        display: flex;
        justify-content: center;
      }
      abbr {
        color: $lightSeaGreen;
        text-decoration: none;
        padding: 5px;
      }
    }
    .react-calendar__month-view__days {
      margin-top: 10px;
      button {
        border: 1px solid rgba($color: $lightSeaGreen, $alpha: 0.1);
      }
      .react-calendar__month-view__days__day--neighboringMonth {
        opacity: 0.5;
        border: none;
      }
      .react-calendar__tile--now {
        color: $tomato;
      }
    }
  }
}
