@import "../variables.scss";
@import "./calendar.scss";

.homeDefault {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  .content {
    width: 90%;
    max-width: 1000px;
    display: flex;
    height: 100%;
    flex-direction: column-reverse;
  }
  .workspace_favorites::-webkit-scrollbar {
    background-color: $primary;
    width: 5px;
  }
  .workspace_favorites::-webkit-scrollbar-thumb {
    background-color: gray;
  }
  .workspace_favorites {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    padding: 10px;
  }
  .show{
    display: flex !important;
  }
  .add-project{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $primary, $alpha: .9);
    display: none;
    justify-content: center;
    align-items: center;
    i{
      position: fixed;
      top: 20px;
      right: 20px;
      font-size: 2em;
      color: $tomato;
      cursor: pointer;
    }
    form{
      width: 100%;
      max-width: 500px;
      margin-top: 0;
      background-color: white;
      padding: 20px;
      h1{
        font-size: 2em;
      }
      .colorPicker{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .colorSelector{
          margin: 5px;
          label{
            div{
              height: 70px;
              width: 70px;
              border-radius: 70px;
              cursor: pointer;
            }
          }
          input{
            display: none;
          }
          input[type=radio]:checked ~ label{
            
            div{
              // transition: .5s;
              transform: scale(1.1);
              border: 5px solid $primary;
            }
          }
        }
      }
    }
  }

  .taskDue {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    @include calendar;
    .todays-tasks {
      color: $white;
      width: 90%;
      padding: 20px;
      ul {
        // padding-left: 20px;
        list-style-type: none;
        li {
          margin: 5px 0;
        }
      }
    }
  }
  .workspace,
  .favorites {
    margin: 20px 0;
    width: 100%;

    .homeDefaultHeader {
      width: 100%;
      border-bottom: 1px solid $secondary;
      display: flex;
      justify-content: space-between;
      color: $white;
      margin-bottom: 5px;
    }
    .projects {
      flex-wrap: wrap;
      display: grid;
      justify-content: center;
      grid-gap: 25px;
      padding-bottom: 50px;
      .project {
        height: 120px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        background-color: $sandyBrown;
        border-radius: 20px;
        box-shadow: 1px 1px 5px black;
        transition: 0.5s;
        h3 {
          text-align: center;
          margin: 5px;
          color: $primary;
        }
        .options{
          display: flex;
          justify-content: space-between;
          padding: 5px 10px;
          i{
            font-size: 1.2em;
            color: $primary;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 300px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 800px) {
  .homeDefault {
    .content {
      flex-direction: row;
      .workspace_favorites {
        width: 60%;
        overflow-y: auto;
        .projects {
          grid-template-columns: repeat(3, 1fr);
        }
      }
      .taskDue {
        width: 40%;
      }
    }
  }
}
